build/
out/
bin/
obj/
.cache/
.tools/
.venv/
__pycache__/
*.pyc
.vscode/
.idea/
node_modules/
website/dist/
*.obj
*.o
*.pdb
*.ilk
*.exp
*.exe
*.dll
*.sys
*.efi
*.lib
*.a
*.iso
*.img
*.vhd
*.vhdx
*.qcow2
*.fd
*.dmp
*.dump
.env
.env.*
secrets/
credentials/
local/
*.log
